@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --white: #fff;

  --primary-600: #1c64f2;
  --primary-700: #1a56db;
  --primary-800: #1e429f;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2a37;
  --gray-900: #111928;

  --blue-200: #c3ddfd;

  --red-200: #fbd5d5;
  --red-700: #c81e1e;
  --red-800: #9b1c1c;
}

:root.light {
  --bg-color: var(--white);
  --text-color: var(--gray-900);

  /*---Buttons---*/
  --alter-btn-bg: var(--white);
  --alter-btn-color: var(--gray-900);
  --alter-btn-border-color: var(--gray-200);
  --alter-btn-bg-hover: var(--gray-100);
  --alter-btn-shadow-focus: var(--gray-100);

  --input-bg: var(--gray-50);
  --input-border: var(--gray-300);
  --input-color: var(--gray-900);
}

:root.dark {
  --bg-color: var(--gray-900);
  --text-color: var(--white);

  /*---Buttons---*/
  --alter-btn-bg: var(--gray-800);
  --alter-btn-color: var(--white);
  --alter-btn-border-color: var(--gray-600);
  --alter-btn-bg-hover: var(--gray-700);
  --alter-btn-shadow-focus: var(--gray-700);

  --input-bg: var(--gray-700);
  --input-border: var(--gray-600);
  --input-color: var(--white);
}

header div,
main,
footer {
  max-width: 600px;
  margin: 0 auto;
}

main,
footer {
  padding: 0.5rem;
}

header {
  padding: 1rem;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -2px rgba(0, 0, 0, 0.05);
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toggle-theme {
  padding: 10px !important;
  background-color: var(--alter-btn-bg);
  color: var(--alter-btn-color);
  border: 1px solid var(--alter-btn-border-color);
}

#toggle-theme:hover,
#toggle-theme:focus {
  background-color: var(--alter-btn-bg-hover);
}

#toggle-theme:focus {
  box-shadow: 0 0 0 4px var(--alter-btn-shadow-focus);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
  font-family: "Inter", sans-serif;
  transition: all .3s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;
}

.inputs {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.inputs input {
  width: 100%;
  padding: 12px 16px;
  background-color: var(--input-bg);
  color: var(--input-color);
  border: 1px solid var(--input-border);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.5px;
  outline: none;
}

input::placeholder {
  color: var(--gray-500);
}

input:hover,
input:focus {
  border: 1px solid var(--primary-600);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.actions {
  display: flex;
  gap: 0.75rem;
}

.btn-primary,
.btn-danger,
#toggle-theme {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  flex-grow: 5;
  border: 1px solid var(--primary-700);
  background-color: var(--primary-700);
  color: var(--white);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primary-800);
}

.btn-primary:focus {
  box-shadow: 0 0 0 3px var(--blue-200);
}

.btn-danger {
  flex-grow: 1;
  background-color: transparent;
  border: 1px solid var(--red-700);
  color: var(--red-700);
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: var(--red-800);
  color: var(--white);
}

.btn-danger:focus {
  box-shadow: 0 0 0 4px var(--red-200);
}
